@font-face {
  font-family: 'terrorFont';
  src: url('../public/bloody_terror.ttf') format('truetype');
}

@font-face {
  font-family: 'doubleFeature';
  src: url('../public/doublefeature.ttf') format('truetype');
}

@font-face {
  font-family: 'threeDim';
  src: url('../public/BungeeShade-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'clock';
  src: url('../public/DS-DIGIB.ttf') format('truetype');
}

@font-face {
  font-family: 'threeDim2';
  src: url("../public/BroadwayFlat3D.ttf") format("truetype");
}